@model IEnumerable<Product>
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <h1>Learning Today,<br>Leading Tomorrow</h1>
        
        <a asp-controller="Products" asp-action="Shop" class="btn-get-started">Get Started</a>
    </div>
</section><!-- End Hero -->

<main id="main">
    <section id="popular-courses" class="courses">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Courses</h2>
                <p>Popular Courses</p>
                <section id="courses" class="courses">
                    <div class="container" data-aos="fade-up">

                        <div class="row" data-aos="zoom-in" data-aos-delay="100">
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                                    <div class="course-item">
                                        <a asp-controller="Products" asp-action="Detail" asp-route-id="@item.Id">
                                            <img src="@item.ImageUrl" class="img-fluid" alt="...">
                                        </a>
                                        <div class="course-content">
                                            <div class="d-flex justify-content-between align-items-center mb-3">
                                                <p class="price">@item.Price $</p>
                                            </div>

                                            <h3><a asp-controller="Products" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a></h3>
                                            <p>@Html.Raw(item.Detail)</p>
                                            <div class="trainer d-flex justify-content-between align-items-center">
                                                <div class="trainer-rank d-flex align-items-center">
                                                    <i class="bx bx-user"></i>&nbsp;50
                                                    &nbsp;&nbsp;
                                                    <i class="bx bx-heart"></i>&nbsp;65
                                                </div>
                                            </div>
                                        </div>
                                        <div class="add-to-cart-container">
                                            <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pId="@item.Id" button class="btn btn-primary add-to-cart">Add to Cart</a>
                                        </div>
                                    </div>
                                </div> <!-- End Course Item-->
                            }

                    </div>
                </section><!-- End Courses Section -->

        </div>
    </section>
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="~/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>Empowering Learning: Your Path to Knowledge and Skill Enhancement</h3>
                    <p class="fst-italic">
                        At our online learning platform, we are dedicated to providing a transformative educational experience.
                        Discover a world of knowledge and expertise tailored to your interests and aspirations.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Explore a diverse range of high-quality courses crafted by industry experts.</li>
                        <li><i class="bi bi-check-circle"></i> Engage in interactive learning experiences that foster creativity and critical thinking.</li>
                        <li><i class="bi bi-check-circle"></i> Connect with passionate instructors and a vibrant community of learners.</li>
                    </ul>
                    <p>
                        Join us on a journey to unlock your full potential. Uplift your skills, pursue your passions, and achieve your goals through our innovative online learning environment.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Students</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Courses</p>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Trainers</p>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->

</main><!-- End #main -->